# Convex runtime/deployment values
CONVEX_DEPLOYMENT=
CONVEX_URL=
CONVEX_SITE_URL=

# App secrets
CARPOOL_PASSWORD=
GEOAPIFY_KEY=
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
CRON_JOB_KEY=
MODE=DEV

# Add +1 before phone numbers
PERSONAL_NUMBER=+1
TWILIO_NUMBER=+1
